@import 'variables.scss';

.container {
  grid-area: header;
  width: 100%;
  background-color: $color-background1;
  height: 5rem;
  display: flex;
  justify-content: center;
  
}

.content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content 1fr auto;
  grid-template-areas: "logo . nav";
  grid-column-gap: 4rem;
  width: 100%;
  max-width: 164rem;
  height: 5rem;
  padding: 0 4rem;

  @include respond(phone) {
    padding: 0 2rem;
  }

  @include respond(tiny) {
    grid-column-gap: 2.2rem;
  }

}