@import 'variables.scss';

.art{
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 80rem;
  
}

.artTitle {
  margin-bottom: 3rem;
  
}

.dateBox {
  font-size: $font-size-small;
  color: $color-dark;
}

.img {
  width: 70rem;
  height: 60rem;
  object-fit: cover;
  margin-bottom: 3rem;
  align-self: center;
}

.mdText {
  h3{
    
    color: $color-dark;
    margin-bottom: 2rem;
  }
  p{
    font-size: $font-size-big;
    margin-bottom: 2rem;
    color: $color-title1;
  }
}