@import 'variables.scss';


.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 0;

  @include respond(tab-port) {
    margin: 5rem 0 0;
  }

  @include respond(tiny) {
    flex-direction: column;
    margin: 1rem 0;
  }

}

.btnLight,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24rem;
  height: fit-content;
  padding: .5rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
  margin: 0 1rem;

  @include respond(tiny) {
    margin: 1rem 0;
  }
}

.btnLight {
  background-color: $color-background;
  border: solid .15rem $color-dark-blue;
  color: $color-dark-blue;
 
}

.btn {
  background-color: $color-dark-blue;
  color: $color-background;
  border: none;
  
}

.icon {
  height: 1.8rem;
  width: auto;
  path {
    fill: $color-dark-blue;
  }
  padding-left: 1rem;
}

.iconLight {
  height: 1.8rem;
  width: auto;
  fill: $color-background;
  path {
    fill: $color-background;
  }
  padding-left: 1rem;
}