@import 'variables.scss';

.container {
  margin: 0 5rem;
  width: 35rem;
  height: 55rem;
  border-radius: .5rem;
  background-color: $color-background1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, .2);

  &:hover {
    background-color: $color-light;
  }
}

.imgContainer {
  .img {
    width: 30rem;
    height: 25rem;
    object-fit: cover;
  box-shadow: 0 .5rem .5rem 0 rgba(0, 0, 0, .1);
    
  }
}

.info {
  
  .articleTitle {
    font-size: $font-size-biggest;
    padding: 0 1.5rem;
  }
  .text {
    padding: 1.5rem;
    width: 30rem;
  }
  .btn{
    text-decoration: none;
    color: $color-dark-blue;
    padding: .2rem 1rem;
    margin: 1.5rem;
    
    &:hover {
      background-color: $color-dark-blue;
      color: #fff;
      border-bottom: none;
      border-radius: .5rem;
    }
  }
}