@import 'variables.scss';

.container {
  padding: 10rem 8rem;
  background-image: linear-gradient(45deg, 
  rgba($color-primary, .6) 0%,
  rgba(#fff, .9) 100%),
  url(../../public/images/hero2.jpg);

  background-size: cover;
  color: $color-dark;
}

.title {
  color: $color-title;
}

.span2{
  border-bottom: solid .2rem $color-dark-blue;
}

.skills {
  display: grid;
  grid-template-columns: repeat(8, 10rem);
  grid-template-rows: 1fr;
  grid-column-gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  margin: 5rem 0 0;

  @include respond(phone) {
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: 1fr 1fr;
    grid-gap: 5rem;
  }

  @include respond(tiny) {
    grid-template-columns: repeat(2, 10rem);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5rem;
  }
  
}

.skillBox {
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: center;
  justify-content: center;
}

.skillTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  font-size: $font-size-small;

  @include respond(tiny) {
    width:8rem;
  }
}

.level {
  width: 10rem;
  height: 10rem;
  border: solid .25rem $color-dark-blue;
  border-radius: 10rem;
  background-color: rgba(#fff, .3);
  @include respond(phone) {
    width: 8rem;
    height: 8rem;
  }
}

.value {
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-biggest;
  @include respond(phone) {
    font-size: $font-size-big;
    width: 8rem;
    height: 8rem;
  }
}