@import 'variables.scss';

.container {
  padding: 10rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(105deg, 
  rgba(#fff, .9) 0%,
  rgba($color-primary, .5) 100%),
  url(../../public/images/Paris.jpg);
  background-size: cover;
  @include respond(medium-desktop) {
    margin: 5rem 10rem;
    max-width: 170rem;
    width: 100%;
    height: 82rem;
    border-radius: 1rem;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.basic {
  margin-top: 7rem;
  width: 100%;
  display: grid;
  grid-template-rows:  1fr 1fr;
  grid-auto-flow: column;
  grid-auto-columns: .25fr;
  grid-column-gap: 8rem;
  grid-row-gap: 4rem;
  justify-content: center;
  
  @include respond(phone) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include respond(tiny) {
    margin-top: 5rem;
    
  }
}

.dataContainer {
  padding: 2rem 4rem;
  width: 38rem;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 1rem;
  background-color: rgba(#fff, .7);
}

.icon {
  height: 1.8rem;
  width: auto;
  fill: black;
  path {
    fill: $color-dark-blue;
  }
  margin-right: 1rem;
}

.data {
  display: flex;
  flex-direction: column;
  font-size: $font-size-big;
}

.tinyTitle {
  color: $color-dark-blue;
  font-size: $font-size-big;
}

.p{
  font-size: $font-size-big;
}

.social {
  margin-top: 18rem;
  background-color: rgba(#fff, .5);
  border-radius: 1rem;
  padding: 0 1rem;
}