@import 'variables.scss';

.container {
  grid-area: blog;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-background;
}

.titleContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 26rem;
  margin-bottom: 7rem;
}

.title {
  display: block;
  color: $color-title;
  border-bottom: solid .2rem transparent;
  text-align: start;
  font-size: $font-size-grand;
  .span2{
    border-bottom: solid .2rem $color-dark-blue;
  }
}

.cardsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  @include respond(desktop) {
    flex-direction: column;
    align-items: center;
  }
}

.btnSee{
  display: none;
  font-size: $font-size-big;
  width: fit-content;
  text-decoration: none;
  background-color: $color-dark-blue;
  color: #fff;
  padding: .2rem 1rem;
  transition: all ease-in-out .3s;
  border-bottom: none;
  border-radius: .5rem;
  @include respond(tiny) {
    margin-top: 4rem;
  }
  &:hover {
    transform: scale(1.05);
  }
}