// RESPONSIVE BREAKPOINTS
$bp-largest: 80em; //1280px
$bp-large: 67.5em; //1080px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
// FONT-SIZES
$font-size-huge: 3.2rem;
$font-size-biggest: 2.4rem;
$font-size-big: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
$font-size-smallest: 1.2rem;
$font-size-tiny: 1rem;
// COLORS
$color-background: rgb(246, 246, 246);
$color-light: rgb(255, 226, 226);
$color-primary: rgb(255, 199, 199);
$color-light-blue: rgb(215, 213, 247);
$color-dark: rgb(136, 134, 162);
