@import 'variables.scss';
@import 'fonts.scss';

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem > 10px  
    @media only screen and (max-width: $bp-large) {
      font-size: 50%;
    }
  }
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'sans-serif';
  line-height: 1.6;
  font-size: 1.8rem;
  background-color: $color-background;
  display: grid;
  grid-template-rows: 5rem 1fr 1fr 1fr 1fr 1fr 10rem;
  grid-template-columns: 1fr;
  grid-template-areas: "header"
                       "hero"
                       "about"
                       "work"
                       "blog"
                       "contact"
                       "footer";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  color: $color-dark;
  font-size: $font-size-small;
}


h1 {
  font-size: $font-size-huge;
  color: $color-dark;
} 

h4,
h5 {
  color: $color-dark;
}