@import 'variables.scss';

.container {
  background-color: $color-background;
  padding: 10rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond(medium-desktop) {
    margin: 0 10rem;
    max-width: 170rem;
    width: 100%;
    height: 60rem;
    border-radius: 1rem;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 30rem;

  @include respond(tab-land) {
    padding: 0 10rem;
  }

  @include respond(phone) {
    padding: 0;
  }

  @include respond(tiny) {
    flex-direction: column;
    align-items: center;
  }
}

.img {
  display: flex;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;

  @include respond(tiny) {
    margin-bottom: 4rem;
  }
}

.subtitle {
  margin-bottom: 1.5rem;
  color: $color-dark;
}

.obj {
 width: fit-content;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-left: 6rem;

  @include respond(tab-port) {
   width: fit-content;
  }

  @include respond(phone) {
    margin-left: 3rem;
  }

  @include respond(tiny) {
    margin-left: 0;
    margin-bottom: 4rem;
    
  }

}






