@import 'variables.scss';

.container {
  padding: 10rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 30rem;

  @include respond(tab-land) {
    padding: 0 10rem;
  }

  @include respond(phone) {
    padding: 0;
  }

  @include respond(tiny) {
    flex-direction: column;
    align-items: center;
  }
}

.img {
  display: flex;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;

  @include respond(tiny) {
    margin-bottom: 4rem;
  }
}

.titleContainer {
  display: flex;
  justify-content: left;
  width: 100%;
}

.title {
  display: block;
  margin-bottom: 7rem;
  color: $color-title;
  border-bottom: solid .2rem transparent;
  text-align: start;
  font-size: $font-size-grand;
  @include respond(tiny) {
    margin-bottom: 4rem;
  }
}

.span2{
  border-bottom: solid .2rem $color-dark-blue;
}

.subtitle {
  margin-bottom: 1.5rem;
  color: $color-dark;
}

.obj {
 width: fit-content;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-left: 6rem;

  @include respond(tab-port) {
   width: fit-content;
  }

  @include respond(phone) {
    margin-left: 3rem;
  }

  @include respond(tiny) {
    margin-left: 0;
    margin-bottom: 4rem;
    
  }

}






